CLIENT_ID=acb-client-id
SCRECET_ID=acb-client-secret
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=payment_duni
POSTGRES_DB=payment_duni
POSTGRES_PASSWORD=change-me
POSTGRES_SSL=false
PORT=3000
NODE_ENV=development
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-long-password
SESSION_SECRET=generate-at-least-32-random-bytes
ACB_CALLBACK_TOKEN=generate-at-least-24-random-bytes
ACB_WEBHOOK_AUTH_REQUIRED=true
ACB_WEBHOOK_TOKEN=
PUBLIC_URL=https://payment.byduni.com
